<%- include('./layout/adminheader.ejs') %>
  <%- include('./layout/adminsidebar.ejs') %>


  <% if (couponData != null) { %>
  

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>Edit Coupon Details </h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section dashboard">
        <div class="row d-flex justify-content-center">

          <!-- Left side columns -->
        



              <!-- End Reports -->
              <% couponData.forEach((coupon)=>{%> 

              <form class="row g-3" action="" method="post">
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Coupon Name</label>
                  <input type="text" class="form-control" value="<%= coupon.couponName%>" name="couponName" id="inputNanme4" required>
                </div>
                
                <div class="col-12">
                  <label for="inputNanme4" class="form-label" >Coupon Description</label>
                  <input type="text" class="form-control" value="<%= coupon.description%>" name="des" id="inputNanme4" required>
                </div>
                <div class="col-12">
                  <label for="inputNanme4" class="form-label" >Coupon code</label>
                  <input type="text" class="form-control" value="<%= coupon.couponCode%>" name="code" id="inputNanme4" required>
                </div>


                <div class="col-12">
                  <label for="inputNanme4" class="form-label" >Start Date</label>
                  <input type="date" class="form-control" value="<%= coupon.startDate%>" name="start" id="inputNanme4" required>
                </div>



                <div class="col-12">
                  <label for="inputAddress" class="form-label">End Date</label>
                  <input type="date" class="form-control" name="end" value="<%= coupon.endDate%>" id="inputAddress" placeholder="" required>
                </div>
                

                <div class="col-12">
                    <label for="inputAddress" class="form-label">Discount (%)</label>
                    <input type="text" class="form-control" name="discount" value="<%= coupon.discount%>" id="inputAddress" placeholder="" required>
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Minimum Purchase Amount</label>
                    <input type="text" class="form-control" name="mini" value="<%= coupon.minimumAmount%>" id="inputAddress" placeholder="" required>
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Maximum Purchase Amount</label>
                    <input type="text" class="form-control" value="<%= coupon.maximumAmount%>" name="max" id="inputAddress" placeholder="" required>
                  </div>


                <div class="text-center ">


                  <button type="submit" class="btn btn-primary">Submit</button>

                </div>
              </form>

              <!-- Vertical Form -->


              <% }); %>  <% } %>






            </div>
          </div><!-- End Left side columns -->

          <!-- Right side columns -->
          <div class="col-lg-4">

            <!-- Recent Activity -->








          </div><!-- End Right side columns -->

        </div>
      </section>

    </main><!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/public/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/public/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/public/assets/vendor/quill/quill.min.js"></script>
    <script src="/public/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/public/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/public/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/public/assets/js/main.js"></script>

    </body>

    </html>