<%- include('partials/header') %>




    <!-- End  Offcanvas Addcart Section -->

    <!-- Start Offcanvas Mobile Menu Section -->
    <div
      id="offcanvas-wishlish"
      class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
      <!-- Start Offcanvas Header -->
      <div class="offcanvas-header text-right">
        <button class="offcanvas-close">
          <i class="ion-android-close"></i>
        </button>
      </div>
  
    </div>
    <!-- End Offcanvas Mobile Menu Section -->

    <!-- Start Offcanvas Search Bar Section -->
    <div id="search" class="search-modal">
      <button type="button" class="close">×</button>
      <form>
        <input type="search" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-lg btn-golden">Search</button>
      </form>
    </div>
    <!-- End Offcanvas Search Bar Section -->

    <!-- Offcanvas Overlay -->

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
      <div class="breadcrumb-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="breadcrumb-title">Cart</h3>
              <div
                class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden"
              >
                <nav aria-label="breadcrumb">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                    <li class="active" aria-current="page">Cart</li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Cart Section:::... -->
    
    <% if(cartList.length> 0){%>

    <div class="cart-section">
      <!-- Start Cart Table -->
      <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="table_desc">
                <div class="table_page table-responsive">
                  <table>
                    <!-- Start Cart Table Head -->

                    <thead>
                      <tr>
                        <th class="product_thumb">Image</th>
                        <th class="product_name">Product</th>
                        <th class="product-price">Price</th>
                        <th class="product_quantity">Quantity</th>
                        <th class="product_total">Total</th>
                        <th class="product_remove">Delete</th>
                      </tr>
                    </thead>
                    <!-- End Cart Table Head -->
                    <tbody>
                      <!-- Start Cart Single Item-->
                      <% var totalAmount=0 %>

                      <% cartList.forEach((item)=>{%>

                      <tr>
                        <td class="product_thumb">
                          <img src="<%= item.product.image_url[0] %>" />
                        </td>

                        <td class="product_name"><%=item.product.name%></td>
                        <td class="product-price">$<%=item.product.price%></td>
                        <td class="product_quantity">
                          <label>Quantity</label>


                            <button class="increment-button btn" onclick="incrementCount('<%= item.userId%>','<%= item.cartItems.productId%>','<%=item.product.price%>')" data-product-id="<%= item.cartItems.productId%>">+</button>
                          <!-- <a type="button" href="/product/removecart?id=<%= item.cartItems.productId%>" ><i class="fa fa-trash-o"></i></a> -->
                  

                          
                        <p id="Quantity<%= item.cartItems.productId%>"><%= item.cartItems.qty %></p>
                        <button type="submit"onclick="decrementCount('<%= item.userId%>','<%= item.cartItems.productId%>','<%=item.product.price%>')" class="decrement-button" data-product-id="<%= item.product._id %>">-</button>
                      </td>


                        <% var price = item.cartItems.qty * item.product.price %>
                        <% totalAmount += price %>
                        <% console.log(totalAmount) %>
                    


                        <td  class="product_total">$<span id="total-price<%= item.cartItems.productId%>"  >
                          <%= price%>
                        </span> 
                       </td>
                        <td class="product_remove">
                          <a
                            type="button"
                            href="/product/removecart?id=<%= item.cartItems.productId%>"
                            ><i class="fa fa-trash-o"></i
                          ></a>
                        </td>
                      </tr>
                      <!-- End Cart Single Item-->
                      <!-- Start Cart Single Item-->

                      <%})%>
                    </tbody>
                  </table>
                </div>
                <div class="cart_submit">
                  <a
                    href="/product-display"
                    class="btn btn-md btn-golden"
                    type="submit"
                    >update cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Cart Table -->

      <!-- Start Coupon Start -->
      <div class="coupon_area">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div
                class="coupon_code left"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <h3>Coupon</h3>
                <div class="coupon_inner">
                  <p>Enter your coupon code if you have one.</p>
                  <input class="mb-2" placeholder="Coupon code" type="text" />
                  <button type="submit" class="btn btn-md btn-golden">
                    Apply coupon
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div
                class="coupon_code right"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                <h3>Cart Totals</h3>
                <div class="coupon_inner">
                  <div class="cart_subtotal">
                    <p>Subtotal</p>
                    <p class="cart_amount">$ <span id="total-amount1"> <%= totalAmount%></span></p>
                  </div>
                  <div class="cart_subtotal">
                    <p>Shipping</p>
                    <p class="cart_amount"><span>Free</span> $00.00</p>
                  </div>
                  <a href="#">Calculate shipping</a>

                  <div class="cart_subtotal">
                    <p>Total</p>
                    <p class="cart_amount">$ <span id="total-amount2"><%= totalAmount%></span></p>
                  </div>
                  <div class="checkout_btn">
                    <a href="#" class="btn btn-md btn-golden"
                      >Proceed to Checkout</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Coupon Start -->
    </div>
    <!-- ...:::: End Cart Section:::... -->

    <%}else{%>

    
      <h1 class="text-center">No items available</h1>
  
    <%}%>
    
    <!-- Start Footer Section -->
    <footer class="footer-section footer-bg section-top-gap-100">
      <div class="footer-wrapper">
          <!-- Start Footer Top -->
          
                          <!-- End Footer Single Item -->
                      
                    
                          <!-- End Footer Single Item -->
                    
                          <!-- End Footer Single Item -->
               
          <!-- End Footer Top -->


          <!-- Start Footer Bottom -->
          <div class="footer-bottom">
              <div class="container">
                  <div class="row justify-content-between align-items-center align-items-center flex-column flex-md-row mb-n6">
                      <!-- <div class="col-auto mb-6"> -->
                          <div class="footer-copyright">
                              <p class="copyright-text">&copy; 2023 Admin</a></p>

                          </div>
                      </div>
                     
                  </div>                 
              
              </div>

  </footer>
  <!-- End Footer Section -->

  <!-- material-scrolltop button -->
  <button class="material-scrolltop" type="button"></button>

  <!-- Start Modal Add cart -->
  <div class="modal fade" id="modalAddcart" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col text-right">
                              <button type="button" class="close modal-close" data-bs-dismiss="modal"
                                  aria-label="Close">
                                  <span aria-hidden="true"> <i class="fa fa-times"></i></span>
                              </button>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-7">
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="modal-add-cart-product-img">
                                          <img class="img-fluid"
                                              src="/public/assets/images/product/default/home-1/default-1.jpg" alt="">
                                      </div>
                                  </div>
                                  <div class="col-md-8">
                                      <div class="modal-add-cart-info"><i class="fa fa-check-square"></i>Added to cart
                                          successfully!</div>
                                      <div class="modal-add-cart-product-cart-buttons">
                                          <a href="cart.html">View Cart</a>
                                          <a href="checkout.html">Checkout</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-5 modal-border">
                              <ul class="modal-add-cart-product-shipping-info">
                                  <li> <strong><i class="icon-shopping-cart"></i> There Are 5 Items In Your
                                          Cart.</strong></li>
                                  <li> <strong>TOTAL PRICE: </strong> <span>$187.00</span></li>
                                  <li class="modal-continue-button"><a href="#" data-bs-dismiss="modal">CONTINUE
                                          SHOPPING</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> <!-- End Modal Add cart -->

  <!-- Start Modal Quickview cart -->
  <div class="modal fade" id="modalQuickview" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col text-right">
                              <button type="button" class="close modal-close" data-bs-dismiss="modal"
                                  aria-label="Close">
                                  <span aria-hidden="true"> <i class="fa fa-times"></i></span>
                              </button>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="product-details-gallery-area mb-7">
                                  <!-- Start Large Image -->
                                  <div class="product-large-image modal-product-image-large swiper-container">
                                      <div class="swiper-wrapper">
                                          <div class="product-image-large-image swiper-slide img-responsive">
                                              <img src="assets/images/product/default/home-1/default-1.jpg" alt="">
                                          </div>
                                          <div class="product-image-large-image swiper-slide img-responsive">
                                              <img src="assets/images/product/default/home-1/default-2.jpg" alt="">
                                          </div>
                                          <div class="product-image-large-image swiper-slide img-responsive">
                                              <img src="assets/images/product/default/home-1/default-3.jpg" alt="">
                                          </div>
                                          <div class="product-image-large-image swiper-slide img-responsive">
                                              <img src="assets/images/product/default/home-1/default-4.jpg" alt="">
                                          </div>
                                          <div class="product-image-large-image swiper-slide img-responsive">
                                              <img src="assets/images/product/default/home-1/default-5.jpg" alt="">
                                          </div>
                                          <div class="product-image-large-image swiper-slide img-responsive">
                                              <img src="assets/images/product/default/home-1/default-6.jpg" alt="">
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Large Image -->
                                  <!-- Start Thumbnail Image -->
                                  <div
                                      class="product-image-thumb modal-product-image-thumb swiper-container pos-relative mt-5">
                                      <div class="swiper-wrapper">
                                          <div class="product-image-thumb-single swiper-slide">
                                              <img class="img-fluid"
                                                  src="assets/images/product/default/home-1/default-1.jpg" alt="">
                                          </div>
                                          <div class="product-image-thumb-single swiper-slide">
                                              <img class="img-fluid"
                                                  src="assets/images/product/default/home-1/default-2.jpg" alt="">
                                          </div>
                                          <div class="product-image-thumb-single swiper-slide">
                                              <img class="img-fluid"
                                                  src="assets/images/product/default/home-1/default-3.jpg" alt="">
                                          </div>
                                          <div class="product-image-thumb-single swiper-slide">
                                              <img class="img-fluid"
                                                  src="assets/images/product/default/home-1/default-4.jpg" alt="">
                                          </div>
                                          <div class="product-image-thumb-single swiper-slide">
                                              <img class="img-fluid"
                                                  src="/public/assetsassets/images/product/default/home-1/default-5.jpg" alt="">
                                          </div>
                                          <div class="product-image-thumb-single swiper-slide">
                                              <img class="img-fluid"
                                                  src="/public/assetsassets/images/product/default/home-1/default-6.jpg" alt="">
                                          </div>
                                      </div>
                                      <!-- Add Arrows -->
                                      <div class="gallery-thumb-arrow swiper-button-next"></div>
                                      <div class="gallery-thumb-arrow swiper-button-prev"></div>
                                  </div>
                                  <!-- End Thumbnail Image -->
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="modal-product-details-content-area">
                                  <!-- Start  Product Details Text Area-->
                                  <div class="product-details-text">
                                      <h4 class="title">Nonstick Dishwasher PFOA</h4>
                                      <div class="price"><del>$70.00</del>$80.00</div>
                                  </div> <!-- End  Product Details Text Area-->
                                  <!-- Start Product Variable Area -->
                                  <div class="product-details-variable">
                                      <!-- Product Variable Single Item -->
                                      <div class="variable-single-item">
                                          <span>Color</span>
                                          <div class="product-variable-color">
                                              <label for="modal-product-color-red">
                                                  <input name="modal-product-color" id="modal-product-color-red"
                                                      class="color-select" type="radio" checked>
                                                  <span class="product-color-red"></span>
                                              </label>
                                              <label for="modal-product-color-tomato">
                                                  <input name="modal-product-color" id="modal-product-color-tomato"
                                                      class="color-select" type="radio">
                                                  <span class="product-color-tomato"></span>
                                              </label>
                                              <label for="modal-product-color-green">
                                                  <input name="modal-product-color" id="modal-product-color-green"
                                                      class="color-select" type="radio">
                                                  <span class="product-color-green"></span>
                                              </label>
                                              <label for="modal-product-color-light-green">
                                                  <input name="modal-product-color"
                                                      id="modal-product-color-light-green" class="color-select"
                                                      type="radio">
                                                  <span class="product-color-light-green"></span>
                                              </label>
                                              <label for="modal-product-color-blue">
                                                  <input name="modal-product-color" id="modal-product-color-blue"
                                                      class="color-select" type="radio">
                                                  <span class="product-color-blue"></span>
                                              </label>
                                              <label for="modal-product-color-light-blue">
                                                  <input name="modal-product-color"
                                                      id="modal-product-color-light-blue" class="color-select"
                                                      type="radio">
                                                  <span class="product-color-light-blue"></span>
                                              </label>
                                          </div>
                                      </div>
                                      <!-- Product Variable Single Item -->
                                      <div class="d-flex align-items-center flex-wrap">
                                          <div class="variable-single-item ">
                                              <span>Quantity</span>
                                              <div class="product-variable-quantity">
                                                  <input min="1" max="100" value="1" type="number">
                                              </div>
                                          </div>

                                          <div class="product-add-to-cart-btn">
                                              <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Add To
                                                  Cart</a>
                                          </div>
                                      </div>
                                  </div> <!-- End Product Variable Area -->
                                  <!-- <div class="modal-product-about-text">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste
                                          laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam
                                          in quos qui nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum vel
                                          recusandae</p>
                                  </div> -->
                                  <!-- Start  Product Details Social Area-->
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> 
  <script src="/public/asset/js/vendor/vendor.min.js"></script>
  <script src="/public/asset/js/plugins/plugins.min.js"></script>
  <script src="/public/asset/js/cart.js"></script>


  <!-- Main JS -->
  <script src="/public/asset/js/main.js"></script>
</body>


</html>