<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Light me Up</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="/public/asset/css/vendor/vendor.min.css" />

    <link rel="stylesheet" href="/public/asset/css/plugins/plugins.min.css" />
    <link rel="stylesheet" href="/public/asset/css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
</head>

<body>
        <!-- Start Header Area -->
        <header class="header-section d-none d-xl-block">
            <div class="header-wrapper">
                <div class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 d-flex align-items-center justify-content-between">
                                <!-- Start Header Logo -->
                                <div class="header-logo">
                                    <div class="logo">
                                        <a href=""><img src="assets/images/logo/logo_black.png" alt="" /></a>
                                    </div>
                                </div>
                                <!-- End Header Logo -->

                                <!-- Start Header Main Menu -->
                                <div class="main-menu menu-color--black menu-hover-color--golden">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="/">Home</a>
                                            </li>

                                            <li>
                                                <a href="/product-display">Shop</a>
                                            </li>

                                            <!-- <li>
                                            <a href="about-us.html">About Us</a>
                                        </li>
                                        <li>
                                            <a href="contact-us.html">Contact Us</a>
                                        </li> -->
                                        </ul>
                                    </nav>
                                </div>
                                <!-- End Header Main Menu Start -->

                                <!-- Start Header Action Link -->
                                <ul class="header-action-link action-color--black action-hover-color--golden">
                                    <!-- <li> -->
                                    <!-- <a href="#offcanvas-wishlish" class="offcanvas-toggle">
                                        <i class="icon-heart"></i>
                                        <span class="item-count">3</span>
                                    </a> -->
                                    <!-- </li> -->
                                    <!-- <li>
                                    <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                        <i class="icon-bag"></i>
                                        <span class="item-count">3</span>
                                    </a>
                                </li> -->

                                    <li>
                                        <a href="/user_profile">
                                            <i class="icon-user"> </i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/product/cart-disply">
                                            <i class="icon-bag"></i></a>
                                        <!-- <span class="item-count"></span> -->
                                    </li>

                                    <li>
                                        <a href="#search">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">
                                            <i class="icon-menu"></i>
                                        </a>
                                    </li>
                                </ul>
                                <!-- End Header Action Link -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Start Header Area -->

        <!-- Start Mobile Header -->
        <div class="mobile-header mobile-header-bg-color--golden section-fluid d-lg-block d-xl-none">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Start Mobile Left Side -->
                        <div class="mobile-header-left">
                            <ul class="mobile-menu-logo">
                                <li>
                                    <a href="">
                                        <div class="logo">
                                            <img src="assets/images/logo/logo_black.png" alt="" />
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Mobile Left Side -->

                        <!-- Start Mobile Right Side -->
                        <div class="mobile-right-side">
                            <ul class="header-action-link action-color--black action-hover-color--golden">
                                <li>
                                    <a href="#search">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </li>
                                <!-- <li>
                                <a href="#offcanvas-wishlish" class="offcanvas-toggle">
                                    <i class="icon-heart"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li> -->

                                <li>
                                    <a href="/user_profile">
                                        <i class="icon-user"> </i>
                                    </a>
                                </li>

                                <li>
                                    <a href="/product/cart-disply">
                                        <i class="icon-bag"></i>
                                        <!-- <span class="item-count"></span> </a> -->
                                    </a>
                                </li>
                                <!-- <li>
                                <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                    <i class="icon-bag"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li> -->
                                <li>
                                    <a href="#mobile-menu-offcanvas" class="offcanvas-toggle offside-menu">
                                        <i class="icon-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Mobile Right Side -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Mobile Header -->

        <!--  Start Offcanvas Mobile Menu Section -->
        <div id="mobile-menu-offcanvas" class="offcanvas offcanvas-rightside offcanvas-mobile-menu-section">
            <!-- Start Offcanvas Header -->
            <div class="offcanvas-header text-right">
                <button class="offcanvas-close">
                    <i class="ion-android-close"></i>
                </button>
            </div>
            <!-- End Offcanvas Header -->
            <!-- Start Offcanvas Mobile Menu Wrapper -->
            <div class="offcanvas-mobile-menu-wrapper">
                <!-- Start Mobile Menu  -->
                <div class="mobile-menu-bottom">
                    <!-- Start Mobile Menu Nav -->
                    <div class="offcanvas-menu">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>

                            <li>
                                <a href="/product-display">Shop</a>
                            </li>

                            <li><a href="/userlogin">Login</a></li>

                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                    <!-- End Mobile Menu Nav -->
                </div>
                <!-- End Mobile Menu -->

                <!-- Start Mobile contact Info -->
                <div class="mobile-contact-info">
                    <div class="logo">
                        <!-- <a href=""><img src="/public/asset/images/logo/logo_white.png" alt="" /></a> -->
                    </div>

                    <address class="address">
                        <span>Admin: Ribin Mathew.</span>
                        <span>Call Us: 0123456789, 0123456789</span>
                        <span>Email: ribin@gmail.com</span>
                    </address>

                    <ul class="social-link">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile contact Info -->
            </div>
            <!-- End Offcanvas Mobile Menu Wrapper -->
        </div>
        <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

        <!-- Start Offcanvas Mobile Menu Section -->
        <div id="offcanvas-about" class="offcanvas offcanvas-rightside offcanvas-mobile-about-section">
            <!-- Start Offcanvas Header -->
            <div class="offcanvas-header text-right">
                <button class="offcanvas-close">
                    <i class="ion-android-close"></i>
                </button>
            </div>
            <!-- End Offcanvas Header -->
            <!-- Start Offcanvas Mobile Menu Wrapper -->
            <!-- Start Mobile contact Info -->
            <div class="mobile-contact-info">
                <div class="logo">
                    <!-- <a href="index.html"><img src="assets/images/logo/logo_white.png" alt="" /></a> -->
                </div>

                <div class="mobile-menu-bottom">
                    <!-- Start Mobile Menu Nav -->
                    <div class="offcanvas-menu">
                        <ul>
                            <li><a href="/userlogin">Login</a></li>

                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                    <!-- End Mobile Menu Nav -->
                </div>
                <address class="address">
                    <span>Admin: Ribin Mathew.</span>
                    <span>Call Us: 0123456789, 0123456789</span>
                    <span>Email: ribin@gmail.com</span>
                </address>

                <ul class="social-link">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>

                <!-- <ul class="user-link">
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
            </ul> -->
            </div>
            <!-- End Mobile contact Info -->
        </div>
        <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

        <!-- End  Offcanvas Addcart Section -->

        <!-- Start Offcanvas Mobile Menu Section -->
        <div id="offcanvas-wishlish" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
            <!-- Start Offcanvas Header -->
            <div class="offcanvas-header text-right">
                <button class="offcanvas-close">
                    <i class="ion-android-close"></i>
                </button>
            </div>
            <!-- ENd Offcanvas Header -->

            <!-- Start Offcanvas Mobile Menu Wrapper -->
            <!-- <div class="offcanvas-wishlist-wrapper">
            <h4 class="offcanvas-title">Wishlist</h4>
            <ul class="offcanvas-wishlist">
                <li class="offcanvas-wishlist-item-single">
                    <div class="offcanvas-wishlist-item-block">
                        <a href="#" class="offcanvas-wishlist-item-image-link">
                            <img src="assets/images/product/default/home-1/default-1.jpg" alt=""
                                class="offcanvas-wishlist-image" />
                        </a>
                        <div class="offcanvas-wishlist-item-content">
                            <a href="#" class="offcanvas-wishlist-item-link">Car Wheel</a>
                            <div class="offcanvas-wishlist-item-details">
                                <span class="offcanvas-wishlist-item-details-quantity">1 x
                                </span>
                                <span class="offcanvas-wishlist-item-details-price">$49.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-wishlist-item-delete text-right">
                        <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="offcanvas-wishlist-item-single">
                    <div class="offcanvas-wishlist-item-block">
                        <a href="#" class="offcanvas-wishlist-item-image-link">
                            <img src="assets/images/product/default/home-2/default-1.jpg" alt=""
                                class="offcanvas-wishlist-image" />
                        </a>
                        <div class="offcanvas-wishlist-item-content">
                            <a href="#" class="offcanvas-wishlist-item-link">Car Vails</a>
                            <div class="offcanvas-wishlist-item-details">
                                <span class="offcanvas-wishlist-item-details-quantity">3 x
                                </span>
                                <span class="offcanvas-wishlist-item-details-price">$500.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-wishlist-item-delete text-right">
                        <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="offcanvas-wishlist-item-single">
                    <div class="offcanvas-wishlist-item-block">
                        <a href="#" class="offcanvas-wishlist-item-image-link">
                            <img src="assets/images/product/default/home-3/default-1.jpg" alt=""
                                class="offcanvas-wishlist-image" />
                        </a>
                        <div class="offcanvas-wishlist-item-content">
                            <a href="#" class="offcanvas-wishlist-item-link">Shock Absorber</a>
                            <div class="offcanvas-wishlist-item-details">
                                <span class="offcanvas-wishlist-item-details-quantity">1 x
                                </span>
                                <span class="offcanvas-wishlist-item-details-price">$350.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-wishlist-item-delete text-right">
                        <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
            </ul>
            <ul class="offcanvas-wishlist-action-button">
                <li>
                    <a href="#" class="btn btn-block btn-golden">View wishlist</a>
                </li>
            </ul>
        </div> -->
            <!-- End Offcanvas Mobile Menu Wrapper -->
        </div>
        <!-- End Offcanvas Mobile Menu Section -->

        <!-- Start Offcanvas Search Bar Section -->
        <div id="search" class="search-modal">
            <button type="button" class="close">×</button>
            <form>
                <input type="search" placeholder="type keyword(s) here" />
                <button type="submit" class="btn btn-lg btn-golden">Search</button>
            </form>
        </div>
        <!-- End Offcanvas Search Bar Section -->

        <!-- Offcanvas Overlay -->
        <div class="offcanvas-overlay"></div>

        <!-- ...:::: Start Breadcrumb Section:::... -->
        <div class="breadcrumb-section breadcrumb-bg-color--golden">
            <div class="breadcrumb-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="breadcrumb-title">Shop</h3>
                            <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                                <nav aria-label="breadcrumb">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/product-display">Shop</a></li>
                                        <li class="active" aria-current="page">
                                            Shop List Left Sidebar
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ...:::: End Breadcrumb Section:::... -->

        <!-- ...:::: Start Shop Section:::... -->
        <div class="shop-section">
            <div class="container">
                <div class="row flex-column-reverse flex-lg-row">
                    <div class="col-lg-3">
                        <!-- Start Sidebar Area -->
                        <div class="siderbar-section" data-aos="fade-up" data-aos-delay="0">
                            <!-- Start Single Sidebar Widget -->
                            <div class="sidebar-single-widget">
                                <h6 class="sidebar-title">CATEGORIES</h6>

                                <div class="sidebar-content">
                                    <ul class="sidebar-menu">
                                        <a href="/product-display">All Items</a>

                                        <!-- <a href="/product-display" class="accordion-title collapsed"> -->
                                        </a>
                                        <% catData.forEach(function(catdata) { %>
                                            <li class="list-group-item <% if (selectedCategory == catdata._id) { %> active <% } %>">
                                                <a href="/product-display?category=<%= catdata._id %>">

                                            <!-- <li> -->
                                                <!-- <a href="?category=<%= catdata._id%>" class="accordion-title collapsed"> -->
                                                    <%= catdata.name%>
                                                </a>
                                                <% }); %>
                                            </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Sidebar Widget -->
                        </div>
                        <!-- End Sidebar Area -->
                    </div>
                    <div class="col-lg-9">
                        <!-- Start Shop Product Sorting Section -->
                        <div class="shop-sort-section">
                            <div class="container">
                                <div class="row">
                                    <form action="/product-display" method="GET">

                                    <!-- Start Sort Wrapper Box -->
                                    <div class="sort-box d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column"
                                    data-aos="fade-up" data-aos-delay="0">
                                    <!-- Start Sort tab Button -->
                                    <div class="sort-tablist d-flex align-items-center">
                                        <ul class="tablist nav sort-tab-btn">
                                            <li><a class="nav-link active" data-bs-toggle="tab"
                                                    href="#layout-3-grid"><img src="/public/asset/images/icons/bkg_grid.png"
                                                        alt=""></a></li>
                                            <li><a class="nav-link" data-bs-toggle="tab" href="#layout-list"><img
                                                        src="public/asset/images/icons/bkg_list.png" alt=""></a></li>
                                        </ul>

                                        <!-- Start Page Amount -->
                                         <!-- End Page Amount -->
                                    </div> <!-- End Sort tab Button -->

                                     <!-- Start Sort Select Option -->
                                     <div class="page-amount ml-2">
                                        <div class="form-group">
                                            <input type="text" name="search" class="form-control"
                                                placeholder="Search Products" value="<%= searchKeyword %>">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Search</button>
                                        <input type="hidden" name="sortby" value="<%= sortby %>">
                                    </div>

                                    <!-- Start Sort Select Option -->
                                    <div class="sort-select-list d-flex align-items-center">
                                        <label class="mr-2">Sort By:</label>
                                        <select name="sort" id="sorting" onchange="this.form.submit()">
                                            <!-- <option value="newness" <%= sortby === "newness" ? "selected" : "" %>>Sort by newness</option> -->
                                            <option value="low-to-high" <%=sortby==="low-to-high" ? "selected" : "" %>
                                                >Sort by price: low to high</option>
                                            <option value="high-to-low" <%=sortby==="high-to-low" ? "selected" : "" %>
                                                >Sort by price: high to low</option>
                                            <option value="name-ascending" <%=sortby==="name-ascending" ? "selected"
                                                : "" %>>Product Name: A to Z</option>
                                            <option value="name-descending" <%=sortby==="name-descending" ? "selected"
                                                : "" %>>Product Name: Z to A</option>
                                        </select>
                                    </div>
                                 <!-- End Sort Select Option -->



                                </div> <!-- Start Sort Wrapper Box -->
                                    <!-- Start Sort Wrapper Box -->
                                </div>
                            </div>
                        </div>
                        <!-- End Section Content -->

                        <!-- Start Tab Wrapper -->
                        <div class="sort-product-tab-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tab-content tab-animate-zoom">
                                            <!-- Start Grid View Product -->
                                            <div class="tab-pane active show sort-layout-single" id="layout-3-grid">
                                                <div class="row">
                                                    <% alldetails.forEach(function(product) { %>
                                                        

                                                    <div class="col-xl-4 col-sm-6 col-12">
                                                        <!-- Start Product Default Single Item -->
                                                        <div class="product-default-single-item product-color--golden  border shadow-sm p-2 "
                                                        style="height:20rem ;" data-aos="fade-up"
                                                        data-aos-delay="200">
                                                            <div class="image-box">
                                                                <a href="/product-details/<%= product._id%>"
                                                                    class="image-link">
                                                                    <img style="max-height:250px"
                                                                        src="<%= product.image_url[0].url %>" alt="">
                                                                    <img style="max-height:250px"
                                                                        src="<%= product.image_url[1].url%>" alt="">
                                                                </a>
                                                                <div class="action-link">
                                                                    <div class="action-link-left">
                                                                        <a href="#" data-bs-toggle="modal"
                                                                            data-bs-target="#modalAddcart">Add to Cart</a>
                                                                    </div>
                                                                    <!-- <div class="action-link-right">
                                                                        <a href="#" data-bs-toggle="modal"
                                                                            data-bs-target="#modalQuickview"><i
                                                                                class="icon-magnifier"></i></a>
                                                                        <a href="wishlist.html"><i
                                                                                class="icon-heart"></i></a>
                                                                        <a href="compare.html"><i
                                                                                class="icon-shuffle"></i></a>
                                                                    </div> -->

                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="content">
                                                                
                                                                <div class="content-right">
                                                                    <ul class="pt-1 ">
                                                                        <li class="d-flex justify-content-center">
                                                                            <%= product.name %>
                                                                        </li>
                                                                        <li class="d-flex justify-content-center">
                                                                            $<%= product.cost %>
                                                                        </li>
        
                                                                    </ul>
                                                                    <!-- <span class="price">$68</span> -->
                                                                </div>
    


                                                                
                                                            </div>
                                                        </div>
                                                        <!-- End Product Default Single Item -->
                                                    </div>
                                                    <% }); %>

                                                    

                                                    <!-- <div class="modal fade" id="modalAddcart" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <div class="container-fluid">
                                                                        <div class="row">
                                                                            <div class="col text-right">
                                                                                <button type="button" class="close modal-close" data-bs-dismiss="modal"
                                                                                    aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                            
                                                                                <div class="modal-add-cart-product-img">
                                                                                    <img class="img-fluid"
                                                                                        src=" " alt="" />
                                                                                </div>
                                            
                                                                            <div class="col-md-8">
                                                                                <div class="modal-add-cart-info">
                                                                                    <i class="fa fa-check-square"></i>Added to cart
                                                                                    successfully!
                                                                                </div>
                                                                                <div class="modal-add-cart-product-cart-buttons">
                                                                                    <a href="/product/cart-disply">View Cart</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>  
                                                        </div>
                                                    </div>                                                                               -->




                                            
                                                </div>
                                            </div> <!-- End Grid View Product -->
                                            


                                            <!-- Start List View Product -->
                                            <div class="tab-pane sort-layout-single" id="layout-list">
                                                <div class="row">
                                                    <% alldetails.forEach(function(product) { %>

                                                    <div class="col-12">
                                                        <!-- Start Product Defautlt Single -->
                                                        <div class="product-list-single product-color--golden">
                                                            <a href="/product-details/<%= product._id%>"
                                                                class="image-link">
                                                                <img style="max-height:250px"
                                                                    src="<%= product.image_url[0].url %>" alt="">
                                                                
                                                            </a>
                                                            
                                                            <div class="product-list-content">
                                                                <h5 class="product-list-link"><a>
                                                                <%= product.name %>
                                                                        </a></h5>
                                                                
                                                                <span class="product-list-price">
                                                                     $<%= product.cost %></span>
                                                                    

                                                                <p><%= product.description %></p>
                                                                <div class="product-action-icon-link-list">
                                                                    <a href="#" data-bs-toggle="modal"
                                                                        data-bs-target="#modalAddcart"
                                                                        class="btn btn-lg btn-black-default-hover">Add to
                                                                        cart</a>



                         
                                                                    <!-- <a href="#" data-bs-toggle="modal"
                                                                        data-bs-target="#modalQuickview"
                                                                        class="btn btn-lg btn-black-default-hover"><i
                                                                            class="icon-magnifier"></i></a>
                                                                    <a href="wishlist.html"
                                                                        class="btn btn-lg btn-black-default-hover"><i
                                                                            class="icon-heart"></i></a>
                                                                    <a href="compare.html"
                                                                        class="btn btn-lg btn-black-default-hover"><i
                                                                            class="icon-shuffle"></i></a> -->
                                                                </div>
                                                            </div>
                                                        </div> <!-- End Product Defautlt Single -->
                                                        
                                                    </div>
                                                    <% }); %>

                                                    
                                    
                                                </div>
                                                
                                            </div> <!-- End List View Product -->

                                            <!-- Start Modal Add cart -->

       

                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div> <!-- End Tab Wrapper -->
                        <!-- End Tab Wrapper -->
                        

                        <!-- Start Pagination -->
                        <div class="page-pagination text-center" data-aos="fade-up" data-aos-delay="0">
                            <ul>
                                


                                <% if (prevPage) { %>
                                    <li>
                                        <a href="?page=<%= prevPage %>&sortby=<%= sortby %>">
                                            <i class="ion-ios-skipbackward"></i>
                                        </a>
                                    </li>
                                    <% } %>
                                        <% for (let i=1; i <=totalPages; i++) { %>
                                            <li <% if (currentPage===i) { %> class="active" <% } %>>
                                                    <a href="?page=<%= i %>&sortby=<%= sortby %>">
                                                        <%= i %>
                                                    </a>
                                            </li>
                                            <% } %>
                                                <% if (nextPage) { %>
                                                    <li>
                                                        <a href="?page=<%= nextPage %>&sortby=<%= sortby %>">
                                                            <i class="ion-ios-skipforward"></i>
                                                        </a>
                                                    </li>
                                                    <% } %>
                            </ul>
                        </div>
                        <!-- End Pagination -->
                    </div>
                    <!-- End Shop Product Sorting Section  -->
                </div>
            </div>
        </div>
        <!-- ...:::: End Shop Section:::... -->

        <!-- Start Footer Section -->
        <!-- <footer class="footer-section footer-bg section-top-gap-100 footer-i"> -->

        <footer class="footer-bg section-top-gap-100">
            <p style="
            display: flex;
            color: #fff;
            font-size: 30px;
            align-items: center;
            justify-content: center;
          " class="footer-text">
                admin@123
            </p>
        </footer>

        <!-- material-scrolltop button -->
        <button class="material-scrolltop" type="button"></button>

        
    </form>

    <script src="/public/asset/js/vendor/vendor.min.js"></script>
    <script src="/public/asset/js/plugins/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="/public/asset/js/main.js"></script>
</body>

</html>